* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Cabin', sans-serif;
  color: rgb(70, 63, 108);
  
}

img {
  width: 100%;
}

header {
  height: 100px;
  background-color: rgb(203, 198, 246);
  text-transform: uppercase;
  padding: 15px;
}

main {
  background-color: rgb(245, 224, 229);
  padding-top: 40px;
  padding-bottom: 40px;

}

.container {
  width: 95%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: rgb(203, 198, 246);
  padding: 30px;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.card {
  background-color: rgb(227, 227, 240);
  border-radius: 10px;
 
}

.col {
  width: calc(100% / 2 - (10px * 1) / 2);
  padding: 10px;
}





.mb-30 {
  margin-bottom: 30px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.bg-on {
  background-color:  rgb(86, 105, 181);
}

.bg-off {
  background-color:  rgb(181, 86, 130);
}
.burgundy{
  color: rgb(181, 86, 130);
}




.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
  align-items: stretch;
  gap: 10px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img {
  max-width: 130px;
}


.gap {
  gap: 10px;
  padding-right: 20px;
}



header li {
  list-style: none;
}

.logo-img {
  width: 70px;
  margin-right: 20px;
  border-radius: 5px;
}

.btn {
  border: rgb(32, 123, 243);
  text-transform: uppercase;
  color: white;
  padding: 10px ;
  border-radius: 10px;
  height: 40px;
}

.aboutImg{
  height: 300px;
  width: 400px;
  margin-top: 30px;
}

.homeImg{
  height: 400px;
  width: 400px;
  padding-right: 30px;
  
}



/* responsive mobile first */
/* tablet */
@media (min-width: 768px) {

  .col {
    width: calc(100% / 4 - (10px * 3) / 4);
  }

  .card-img {
    height: 150px;
  }
}

/* Desktop */
@media (min-width: 1200px) {

  .col {
    width: calc(100% / 6 - (10px * 5) / 6)
  }

  .card-img {
    height: 180px;
  }
}